@import "constants.scss";

.header {
  height: 56px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  flex-wrap: nowrap;
  align-items: center;
  background: #fafafa;
  padding: 0 32px;
  box-shadow: 0 1px 5px rgba(12, 13, 14, 0.3);
  h2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .k-dropdown {
    flex: none;
    margin-left: auto;
  }
  .dropdown-menu {
    transform: translate3d(-60px, 38px, 0px) !important;
  }
}
