@import "constants.scss";

.listing {
  font-family: $font;
  padding-top: 56px;
  width: 100vw;
  overflow-y: hidden;
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  .top-bar {
    text-align: center;
  }
  .image-gallery,
  .right-container {
    height: 100%;
  }
  .left-column,
  .right-column {
    padding: 8px;
  }
  .scrolling-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    .list-item {
      display: flex;
      transition: box-shadow 250ms ease;
      background: #fff;
      cursor: pointer;
      border-radius: 4px;
      -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
      &:not(:last-child) {
        margin-bottom: 16px;
      }
      &:hover {
        -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
        .right-container .top-container h4 {
          color: $blue;
        }
      }
      .image-gallery {
        flex: none;
        width: 285px;
        height: 100%;
        position: relative;
      }
      .right-container {
        flex: 0 1 100%;
        height: 100%;
        position: relative;
        .top-container {
          padding-left: 12px;
          h4 {
            padding-top: 12px;
            &:hover {
              text-decoration: underline;
            }
          }
          .property-info {
            > span {
              padding: 0 8px;
              &:not(:last-child) {
                border-right: 1px solid $gray;
              }
              &:first-child {
                padding-left: 0;
              }
            }
          }
        }
        .bottom-strip {
          background: $gray;
          position: absolute;
          width: 100%;
          height: 56px;
          bottom: 0;
          .rating {
            top: 50%;
            right: 0;
            bottom: 0;
            transform: translate(0, -50%);
            position: absolute;
            margin-right: 12px;
          }
          p {
            font-size: 18px;
            line-height: 56px;
            padding-left: 12px;
          }
        }
      }
    }
    .header {
      border: 0;
    }
    .top-container {
      border-bottom: 1px solid $gray;
    }
    .search {
      background: white;
      border-color: #5e6d77;
      margin-right: auto;
      margin-left: 30px;
      .DateRangePicker,
      .location-search,
      .dropdown-group {
        border: 1px solid #5e6d77;
      }
      button.submit {
        display: none;
      }
    }
    .image-gallery .image {
      background-size: cover !important;
    }
  }
  .left-column {
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /* for Firefox */
    min-height: 0;
    .scrolling-container {
      flex-grow: 1;
      overflow: auto;
      /* for Firefox */
      min-height: 0;
    }
    .list-item {
      flex: none;
      align-items: center;
    }
  }
  .right-column {
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /* for Firefox */
    min-height: 0;
    .scrolling-container {
      flex-grow: 1;
      overflow: auto;
      /* for Firefox */
      min-height: 0;
    }
    .list-item {
      flex: none;
      height: 250px;
      align-items: center;
    }
  }
  .left-column {
    flex: 1 0 60%;
    .list-item {
      max-width: 700px;
      height: 250px;
    }
  }
  .right-column {
    flex: 1 0 40%;
  }
  * {
    color: $black;
  }
}
